extends layout

block content
    h1 Welcome to the "Become a Legend!"
    p 
      | Platform for doing sports with people while 
      | keeping track of your performance. 
      | It is designed for amateur sportsman who 
      | always having difficulties to find people to 
      | do sports with. You can get in a team 
      | according to your performance points. 
      | Organize sport events, between teams or 
      | other sport lovers. Compete in a league
      | in any sport with your team or solo.

    h2 You can be a legend!
